<div class="container">
    <article class="row">
        <section class="col-md-offset-3 col-md-6">
            <div class="card-decoration with-logo">
                <img src="/img/logo.svg" alt="<%= data.description %>" class="logo">
            </div>
            <form name="form" class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        Create a new account
                        <i class="material-icons">account_balance</i>
                    </h1>
                </div>
                <div class="card-block">
                    <p class="card-text" data-ng-hide="vm.accounts">
                        In order to start using <em>ausgaben</em> you need to create a spendings account.
                    </p>
                    <fieldset class="form-group">
                        <label for="name">Please enter the name of your account</label>
                        <input tabindex="1"
                               class="form-control"
                               type="text"
                               id="name"
                               required
                               bootstrap-error-states
                               data-ng-model="data.name"
                               data-ng-disabled="vm.p.$active || vm.initializing"
                               name="name"
                               auto-focus
                        />
                    </fieldset>
                </div>
                <div class="card-footer clearfix" data-ng-class="{error: vm.p.$error}">
                    <div data-ng-show="vm.p.$error" class="error-info">
                        %%vm.p.$problem.detail%%<br>
                        <small>(%%vm.p.$problem.title%%) <a data-ng-href="%%vm.p.$problem.type%%"
                                                            target="_blank">Help</a></small>
                    </div>
                    <button type="submit"
                            class="btn btn-primary"
                            data-ng-disabled="form.$invalid || vm.p.$active || vm.initializing"
                            data-ng-click="vm.submit(data)">
                        <i class="material-icons" data-ng-show="vm.p.$pristine">send</i>
                        <i class="material-icons spin" data-ng-show="vm.p.$active">hourglass_empty</i>
                        <i class="material-icons" data-ng-show="vm.p.$success">check_ok</i>
                        <i class="material-icons" data-ng-show="vm.p.$error">error</i>
                        <span>Create Account</span>
                    </button>
                </div>
            </form>
        </section>
    </article>

    <article class="row" data-ng-show="vm.accounts.length">
        <section class="col-md-offset-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Your Accounts
                    </h2>
                </div>
                <div class="card-block">
                    <p class="card-text">
                        These are your existing accounts:
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" data-ng-repeat="account in vm.accounts">
                        <a data-ui-sref="spendings({name: account.name, id: (account | idparam)})">
                            <i class="material-icons">account_balance</i>
                            %%account.name%%
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>
