<div class="container">
    <article class="row">
        <section class="col-md-offset-3 col-md-6">
            <div class="card-decoration with-logo">
                <img src="/img/logo.svg" alt="<%= data.description %>" class="logo">
            </div>
            <form name="form" class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        Login
                        <i class="material-icons">person</i>
                    </h1>
                </div>
                <div class="card-block">
                    <div class="alert alert-success" role="alert" data-ng-show="vm.p.$success">
                        <button type="button" class="close" aria-label="Close" data-ng-click="vm.p.reset()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        We've sent you a login link. Please check your email inbox for <strong>%%data.email%%</strong>.
                    </div>
                    <p class="card-text">
                        Please enter your email address and we will send you a login link.<br>
                        <small>You don't have an account you can <a data-ui-sref="register">create one here</a>.</small>
                    </p>
                    <fieldset class="form-group">
                        <label for="email">email address</label>
                        <input tabindex="1"
                               class="form-control"
                               type="email"
                               id="email"
                               required
                               bootstrap-error-states
                               data-ng-model="data.email"
                               data-ng-disabled="vm.p.$active || vm.initializing"
                               name="email"
                               auto-focus
                        />
                    </fieldset>
                </div>
                <div class="card-footer clearfix" data-ng-class="{error: vm.p.$error}">
                    <div data-ng-show="vm.p.$error" class="error-info">
                        %%vm.p.$problem.detail%%<br>
                        <small>(%%vm.p.$problem.title%%) <a data-ng-href="%%vm.p.$problem.type%%"
                                                            target="_blank">Help</a></small>
                    </div>
                    <button type="submit"
                            class="btn btn-primary"
                            data-ng-disabled="form.$invalid || vm.p.$active || vm.initializing"
                            data-ng-click="vm.submit(data); data.email = undefined;">
                        <i class="material-icons" data-ng-show="vm.p.$pristine">send</i>
                        <i class="material-icons spin" data-ng-show="vm.p.$active">hourglass_empty</i>
                        <i class="material-icons" data-ng-show="vm.p.$success">check_ok</i>
                        <i class="material-icons" data-ng-show="vm.p.$error">error</i>
                        <span>Login</span>
                    </button>
                </div>
            </form>
        </section>
    </article>
</div>
