$icon-spacer: 5px;
$material-icon-size: 24px;
$brand-primary: #8e14cb;
$brand-secondary: #1452CC;
$brand-success: #52CC14;
$brand-info: #14CC8F;
$brand-warning: #CC8F14;
$brand-danger: #CC1452;
$body-color: #707070;
