@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap";
@import "angular";
@import "helper";
@import "material-design-icons";

.card-footer {
    &.error {
        background-color: mix($brand-danger, $card-cap-bg, 25);
        .error-info {
            @include pull-left();
            line-height: 1em;
        }
    }
}

.card-title {
    .material-icons {
        zoom: 200%;
        @include pull-right();
        color: rgba($brand-secondary, 0.5);
    }
}

.card-decoration {
    &.with-logo {
        text-align: center;
        .logo {
            width: 200px;
            padding: 1em 0 0 0;
        }
    }
    +.card {
        margin-top: 20px;
    }
}

.navbar-brand img {
    @include pull-left();
    width: $material-icon-size;
    margin-right: $icon-spacer;
}

.nav-link {
    cursor: pointer;
    i.material-icons {
        @include pull-left();
        margin-right: 5px;
    }
}

#metanav {
    @include pull-right();
}
