@import '../../node_modules/material-design-lite-git/src/_color-definitions.scss';

$color-primary: $palette-cyan-500;
$color-primary-dark: $palette-cyan-700;
$color-accent: $palette-cyan-600;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
$grid-desktop-gutter: 32px;

@import "theme";
@import "../../node_modules/material-design-lite-git/src/material-design-lite.scss";
